# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
pip-log.txt
pip-delete-this-directory.txt

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Docker
*.log
docker-compose.override.yml

# SQL Server
*.mdf
*.ldf

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db